if TARGET_HI3516AV100 || TARGET_HI3516DV100

config SYS_BOARD
	default "hi3516av100"

config SYS_VENDOR
	default "hisilicon"

config SYS_SOC
	default "hi3516a"

config SYS_CONFIG_NAME
	default "hi3516av100" if TARGET_HI3516AV100
	default "hi3516dv100" if TARGET_HI3516DV100

endif
