CONFIG_SYS_LOAD_ADDR=0x82080000
CONFIG_ARM=y
CONFIG_TARGET_HI3516CV500=y
CONFIG_SYS_TEXT_BASE=0x80800000
CONFIG_SYS_MALLOC_F_LEN=0x2000
CONFIG_ENV_SIZE=0x10000
CONFIG_ENV_OFFSET=0x40000
CONFIG_NR_DRAM_BANKS=1
CONFIG_ENV_SECT_SIZE=0x10000
CONFIG_IDENT_STRING="hi3516cv500"
CONFIG_BOOTSTAGE_STASH_SIZE=4096
CONFIG_BOOTDELAY=1
CONFIG_KERNEL_LOAD_ADDR=0x82000000
# CONFIG_DISPLAY_CPUINFO is not set
# CONFIG_DISPLAY_BOARDINFO is not set
CONFIG_HUSH_PARSER=y
CONFIG_SYS_PROMPT="OpenIPC # "
# CONFIG_BOOTM_NETBSD is not set
# CONFIG_BOOTM_PLAN9 is not set
# CONFIG_BOOTM_RTEMS is not set
# CONFIG_BOOTM_VXWORKS is not set
# CONFIG_CMD_ELF is not set
# CONFIG_CMD_IMI is not set
# CONFIG_CMD_XIMG is not set
CONFIG_CMD_LZMADEC=y
CONFIG_CMD_UNZIP=y
CONFIG_CMD_CREAD=y
CONFIG_CMD_UGZIP=y
# CONFIG_CMD_FLASH is not set
CONFIG_CMD_SF=y
# CONFIG_CMD_ECHO is not set
# CONFIG_CMD_ITEST is not set
# CONFIG_CMD_SOURCE is not set
# CONFIG_CMD_SETEXPR is not set
CONFIG_CMD_DHCP=y
CONFIG_CMD_TFTPPUT=y
# CONFIG_CMD_NFS is not set
CONFIG_CMD_MII=y
CONFIG_CMD_PING=y
CONFIG_CMD_CACHE=y
CONFIG_CMD_FAT=y
CONFIG_ENV_IS_IN_SPI_FLASH=y
CONFIG_NET_RANDOM_ETHADDR=y
CONFIG_HAVE_BLOCK_DEVICE=y
CONFIG_DDR_TRAINING_V2=y
# CONFIG_INPUT is not set
# CONFIG_MMC is not set
CONFIG_MTD=y
CONFIG_FMC=y
CONFIG_FMC_SPI_NOR=y
CONFIG_SPI_BLOCK_PROTECT=y
CONFIG_MII=y
CONFIG_NET_HISFV300=y
CONFIG_CONS_INDEX=0
CONFIG_PL011_SERIAL=y
CONFIG_USB=y
CONFIG_USB_XHCI_HCD=y
CONFIG_USB_STORAGE=y
# CONFIG_USE_PRIVATE_LIBGCC is not set
CONFIG_NETDEVICES=y
CONFIG_SKIP_LOWLEVEL_INIT=y
CONFIG_ENV_SPI_BUS=0
CONFIG_ENV_SPI_CS=0
CONFIG_ENV_SPI_MAX_HZ=1000000
CONFIG_ENV_SPI_MODE=3
CONFIG_CMD_MISC=y
CONFIG_PHY_HISI_USB=y
CONFIG_CMD_USB=y
# CONFIG_DM_USB is not set
CONFIG_PHY=y
