
config PHY_VENDOR_USB
	bool "xmedia usb phy driver"
	default y
	---help---
	  support for PHY on xmedia Socs. This Phy supports
	  USB 1.5Mb/s, USB 12Mb/s, USB 480Mb/s speeds. It suppots one
	  USB host port to accept one USB device. Support init the phy
	  and adjust phy Eye Diagram.
